<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인화면</title>
    <link rel="stylesheet" href="/css/main/index.css">
</head>

<body>
    <% if(!goodbye){ %>
        <script>alert('그동안 감사했습니다.')</script>
        <% }else if(!fail){ %>
            <script>alert('로그인이 필요합니다.')</script>
    <% }else if(!admin){ %>
        <script>alert('로그인이 필요합니다.')</script>
        <%}%>
    <!-- 헤더 -->
    <header>
        <div class="header-logo">
            <h1><a style="text-decoration: none;" href="/main/index">MEDIMATE</a></h1>
            <div class="header-state">
                <ul>
                    <li><a style="text-decoration: none;" href="/main/login">로그인</a></li>
                    <li><a style="text-decoration: none;" href="/main/join">회원가입</a></li>
                    <li><a style="text-decoration: none;" href="/main/mypage/info">마이페이지</a></li>
                    <li><a style="text-decoration: none;" href="/admin/user">관리자페이지</a></li>
                </ul>
            </div>
        </div>
        

    </header>

    <!-- 동글동글동글 -->
    <div class="container">
        <div class="content">
            <!-- 약국 검색 -->
            <div class="rr">
                <div class="icon">
                    <a class="dd" style="text-decoration: none;" href="./drug/modal.html"><img class="ii" src="/img/pharmacy.png" alt=""> </a>
                </div>
            </div>
            <!-- 약 검색 -->
            <div class="rr">
                <div class="icon">
                    <a class="dd" style="text-decoration: none;" href="./medicine/medicine-search-main.html"><img class="ii" src="/img/pill.png" alt=""> </a>
                </div>
            </div>
            <!-- 캘린더 -->
            <div class="rr">
                <div class="icon">
                    <a class="dd" style="text-decoration: none;" href="./calendar/calenda2.html"><img class="ii" src="/img/calender.png" alt=""> </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>