/* 폰트 */
@font-face {
    font-family: 'medimate';
    src: url('./fonts/DNFBitBitOTF.woff') format('woff');
font-weight: 700;
font-style: normal;
}

/* 바디 */
body {
font-family: "medimate";  
}

/* 현준이가 전달해준 메인 바 코드 */
li {
    list-style: none;
}

header {
    border-radius: 30px;
    width: 100%;
    padding: 5px 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px 0 rgb(155, 155, 155);
    z-index: 100;
}


header ul, header h1 {
    padding: 0;
    margin: 0;
    height: 100%;
    line-height: 80px;
}

header li {
    display: inline;
    cursor: pointer;
}

/* 로고 */
.header-logo  h1 {
    cursor: pointer;
    color: #53d36b;
}

/* 리스트 */
.header-nav {
    font-size: 24px;
    font-weight: bold;
}

.header-nav li {
    margin: 0 35px;
}


/* 로그인/회원가입 */
.header-state li {
    font-size: 18px;
    margin: 0 5px;
    font-weight: bold;
}


input {
    margin-left: 20px;
    border: 1px solid #53d36b;
}



/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */


/* container */
.container {
    width: 30%;
    margin: 3rem auto 0;
    display: flex;
    justify-content: center;
    font-family: 'medimate';
    padding: 50px;
    border: 1px solid lightgray;
    border-radius: 10%;
    flex-direction: column;
}
.container p, .container input{
    
}
/* 작은 container들 */
.findId {
    margin: 0 auto;
}

.findPw {
    margin: 0 auto;
}

/* id, pw찾기 text */
.findId h2, .findPw h2{
    text-align: center;
    width: 200px;
    color: #53d36b;
    font: bold;
}
.findId p, .findPw p{
    text-align: left;
    font: bold;
}
.findPw h2{
    padding-top: 3rem;
}
.findId_name{
    margin-left: 15px;
}

/* 버튼 */

button {
    justify-content: center;
    cursor: pointer;
    color: white;
    background-color: #53d36b;
    border: 1px solid  #53d36b;
    border-radius: 10deg;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 13%;
    text-align: center;
    line-height: 1.3rem;
    padding: 10px;
}

.find_btn{
    text-align: center;
    justify-content: center;
}